<meta Thanks>* {
    margin: clear;
    padding: clear;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-image: url(/images/bats.gif);
    background-repeat: repeat;
}

/* header */
img {
    float: left;
    margin: .25em;
    height: 100%;
}

header {
    border-bottom: 1px solid black;
    height: 78px;
    max-width: 850px;
    text-indent: 20px;
    text-align: left;
    background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: 1%;
}

.ST {
    margin: 0px;
    padding: 0px;
    text-indent: 25px;
    float: left;
    margin-right: 35px;
}

.T {
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 45px;
}

.SBH ul {
    position: relative;
    margin: 0 18px;
    padding: 0 75px;
    list-style: none;
    text-align: center;
    height: 2.5em;
}

.SBH ul li a {
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 8px;
    display: block;
    color: white;
    position: relative;
}

.SBH ul li a:active {
    color: orange !important;
}

li {
    display: inline-block;
}

.SBH {
    background: black;
}

nav>ul>li {
    position: relative;
}

.SBH ul ul {
    display: none;
    width: 175px;
    /* background-color: black;*/
    position: absolute;
    text-align: left;
    top: 100%;
    left: -100px;

}

.SBH ul ul li {
    float: none;
    margin: 0 15px;
    padding: 5px 0px;
    display: block;
    text-align: center;
}


nav>ul>li>ul li {
    display: block;
    white-space: nowrap;
    background: black;
}

.SBH ul li a:hover {
    background-color: gray;
}

.SBH ul li:hover>ul {
    display: block;
}

.SBH>ul::after {
    content: "";
    display: block;
    clear: both;
}

/*
commented out on Oct 8th because the color was going to collide with the gradient color. Make text easier to read
.T {
    color: orange;
    font-style: italic;
    text-shadow: 1px 1px black;
    commented out on Oct 8th because the color was going to collide with the gradient color. Make text easier to read
    
}
*/

/* body */
aside {
    margin: clear;
    padding: calc();
    height: 100%;
    width: 160px;
    float: left;
    position: fixed;
    top: 140px;
}

.VM ul {
    list-style: none;
    height: auto;

}

.VM ul li {
    border: 2px solid black;
    width: 100%;
}

.VM ul li a {
    background-color: orange;
    color: black;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

body {
    font-size: 100%;
    width: 850px;
    margin: 0 auto;
    padding: 0 auto;
    background-color: white;
    border: 3px solid black;
    box-shadow: 3px 3px 3px 3px black;
}

section {
    height: 100%;
    float: right;
    margin-left: 160px;
    margin-top: -15px;
}

h1,
p,
nav,
h2,
h3 {
    padding-left: 2%;
}

em {
    text-emphasis: bold;
    font-size: 50px;
}

a:link,
a:visited {
    color: orange;
}

a:focus,
a:hover {
    color: green;
}

li {
    margin: 5px auto;
}

section>h3 {
    clear: both;
}

h2+a {
    clear: both;
}

h3+p {
    clear: both;
}

/*Email*/
.heademail {
    padding: 5px 0;
    position: relative;
    left: -200px;
    text-align: center;
}

section label {
    display: inline;
    height: 10px;
    position: relative;
    width: 5em;
    left: -200px;
    text-align: right;
}

section input {
    position: relative;
    display: block;
    left: -130px;
    width: 250px;
    margin: 0 40px;
    top: -15px;
}

.submit {
    background-color: orange;
    border: 2px solid black;

}

/*SUB*/
.SubH {
    padding: 10px;
}

.secSub {
    height: 300px;
}

.secSub h1 p {
    padding-right: 25px;
}

/*Personal*/
.vidH {
    left: -100px;
    top: 100%;
    color: black;
    font-size: 120%: transition: font-size 2s ease-out 1s, color 2s ease-in 1s;
}

.vidH h1:hover {
    font-size: 180%;
    color: orange;
}

/* Footer */
footer {
    clear: both;
    border-top: 1px solid black;
    background-image: -webkit-linear-gradient(45deg, black 0%, Orange 75%, white 100%);
    font-size: 10px;
    text-align: center;
}